html, body {
  font-family: 'Roboto', sans-serif;
/*  font-size: 14px;*/
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-user-select: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.menu {
  background-color: transparent;
  border: none;
  height: 42px;
  margin: 10px;
  width: 42px;
}

md-toolbar h1 {
  margin: auto;
}

#menu-toolbar {
  padding-left: 16px;
}

#menu-toolbar md-icon {
  width: 48px;
  height: 48px;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
  padding-left: 16px;
}

md-list .md-button.selected {
  color: #03a9f4;
  background-color: #EEEEEE;
}

md-content {
  overflow: hidden;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}